/* Цвет основы и основной цвет страницы */
:root {
  --text-color:  #757575;
  --title-color: #212121;
  --color-blue: #2196F3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #990909;
  --color-header-footer: #2F303A;
  --color-whitesemi: rgba(0, 0, 0, 0.6);
  }

.body {
background-color:#FFFFFF;
   }
/* Полезное правило для удаления атрибутов в списке */
.list {
list-style: none;
}
/* Цвет текста логотипа в хедере */
.studio-link {
  color: var(--color-black);
}
.web-link {
  color: var(--color-blue);
}
.web-link:hover {
      color: var(--color-red);
}
.web-link-list {
  color: var(--color-blue);
 }
.web-link-list:hover {
      color: var(--color-red);
 }
/* Цвета ссылок */
.portfolio-link {
  color: var(--title-color);
}
.portfolio-link:hover {
      color: var(--color-red);      
}
.contact-link {
  color: var(--text-color);
}
.contact-link:hover {
  color: var(--color-red);
}
/* Фокус не работатет */
.text {
  background-color: var(--color-header-footer);
  color: var(--color-white);
}
.button {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.button:hover,
.button:focus {
      color: var(--color-red);
}
.rules-list {
  color: var(--title-color);
}
.profi-text {
      color: var(--text-color);
}
/* Цвет текста логотипа в футере */
.address {
  background-color: var(--color-header-footer);
}
.address-text {
  color: var(--color-white);
}
.address-text:hover,
.adress-info:focus {
  color: var(--color-red);
}
.adress-info {
  color: var(--color-whitesemi);
}
.adress-info:hover,
.adress-info:focus {
  color: var(--color-red);
}



    /* основной текст color: #212121*/
    /* вторичный цвет color:#757575 */
    /* цвет кнопки color:#2196F3 */
       /* цвет Студия, WEB, info color:#2196F3 */
    /*  цвет текста кнопки color:rgba(0, 0, 0, 0.15); */
 /* цвет кнопки color:rgba( */

 /* цвет  STUDIO color:#000000 */
  /* цвет фона ЭФФЕКТИВН., footer  #2F303A */
     /* цвет фона WEBSTUDIO #FFFFFF */
     /* чем мы занимаемся background: #E5E5E5; */
    /* наша команда background: #F5F4FA; */