/* Цвет основы и основной цвет страницы */
.body {
background-color:#FFFFFF;
      color:#212121;
}
/* Полезное правило для удаления атрибутов в списке */
.list {
list-style: none;
}
/* Цвет текста логотипа в хедере */
.black {
  color: #000000;
}
.blue {
  color: #2196F3;
}
/* Цвета ссылок */
.logo-blue  {
  color:#2196F3;
}
.grey {
  color: #212121
}
.blue:hover {
    color: red;
  }
.grey-header {
      color: #212121;      
}
.semi {
  color: #757575;
}
/* Фокус не работатет */

 .grey-header:hover {
  color: red;
 }
.semi:hover {
      color: red;
}
/* Цвет текста логотипа в футере */
.white {
  color: #ffffff;
}
.white:hover,
.white:focus {
  color: red;
}
 .white-text {
  color:#ffffff
 }
/* Ховер и фокус мэйла и телефона */
.semi-white:hover {
  color:red
}
/* фокус мэйла и телефона НЕ РАБОТАЕТ */ 

.semi-grey {
  color:#757575
}
 
/* Цвет адреса в футере */
.address {
  background-color: #2F303A;
}
.logo-white {
  color:#FFFFFF;
}
.white {
  color:#FFFFFF;
}
/* Уточнить цвет 60%, НЕ РАБОТАЕТ */
.semi-white {
  color: rgba(f,f,f, 0.6);
}
  /* Цвет контакта в футере */
.semi-white:hover {
  color: red;
}



    /* основной текст color: #212121*/
    /* вторичный цвет color:#757575 */
    /* цвет кнопки color:#2196F3 */
       /* цвет Студия, WEB, info color:#2196F3 */
    /*  цвет текста кнопки color:rgba(0, 0, 0, 0.15); */
 /* цвет кнопки color:rgba( */

 /* цвет  STUDIO color:#000000 */
  /* цвет фона ЭФФЕКТИВН., footer  #2F303A */
     /* цвет фона WEBSTUDIO #FFFFFF */
     /* чем мы занимаемся background: #E5E5E5; */
    /* наша команда background: #F5F4FA; */