/* Цвет основы и основной цвет страницы */
:root {
  --text-color:  #757575;
  --title-color: #212121;
  --color-blue: #2196F3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #990909;
  --color-header-footer: #2F303A;
  --color-whitesemi: :rgba(f, f, f, 0.6);
  --color-button-grey: #F5F4FA;
  }

.body {
  background-color:#FFFFFF;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
   }

   h1,h2,h3,p {
    font-family: Roboto, sans-serif;
   }

/* Полезное правило для удаления атрибутов в списке */
.list {
list-style: none;
}
/* Цвет текста логотипа в хедере */
.studio-link {
  color: var(--color-black);
  font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11; 
    text-decoration-line: none;
}

.web-link {
  color: var(--color-blue);
  font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
  }

.web-link:hover,
.web-link:focus {
      color: var(--color-red);

}
.web-link-list {
  color: var(--color-blue);
  font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
 }

.web-link-list:hover,
.web-link-list:focus {
      color: var(--color-red);
 }
/* Цвета ссылок */
.portfolio-link {
  color: var(--title-color);
  font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
}

.portfolio-link:hover,
.portfolio-link:focus {
    color: var(--color-red);
}

.contact-link {
  color: var(--text-color);
   font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-red);
}

.text {
  background-color: var(--color-header-footer);
  color: var(--color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
} 

.button {
  background-color: var(--color-blue);
  color: var(--color-white);
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button:hover,
.button:focus {
      color: var(--color-red);
}

 .portfolio-button {
  background-color: var(--color-blue);
  color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
 }

.portfolio-button:hover,
.portfolio-button:focus {
  color:red;
}

.web-button {
  background-color: var(--color-button-grey);
  color: var(--title-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
}

.web-button:hover,
.web-button:focus {
  color: red
}

.site-list {
  color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: none;
    }

        .site-text {
          color: var(--text-color-);
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.03em;
        }
.rules-list {
  color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-list {
  color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
      line-height: 1.17; 
      text-align: center;
}

.rules-text {
      color: var(--text-color);
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
}

.name-list {
  color: var(--title-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19; 

}

.profi-text {
  color: var(--text-color);
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}

/* Цвет текста логотипа в футере */
.section-address {
  background-color: var(--color-header-footer);
  }

.address-studio {
  color: var(--color-white);
  font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    text-decoration-line: none;
    font-style: normal;
    }

.address-text {
  color: var(--color-white);
  font-family: Roboto;
  font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: none;
    font-style: normal;
}

.address-text:hover,
.adress-info:focus {
  color: var(--color-red);
}

.adress-info {
  color: var(--color-whitesemi);
  font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: none;
    font-style: normal;
  }

.adress-info:hover,
.adress-info:focus {
  color: var(--color-red);
}



    /* основной текст color: #212121*/
    /* вторичный цвет color:#757575 */
    /* цвет кнопки color:#2196F3 */
       /* цвет Студия, WEB, info color:#2196F3 */
    /*  цвет текста кнопки color:rgba(0, 0, 0, 0.15); */
 /* цвет кнопки color:rgba( */

 /* цвет  STUDIO color:#000000 */
  /* цвет фона ЭФФЕКТИВН., footer  #2F303A */
     /* цвет фона WEBSTUDIO #FFFFFF */
     /* чем мы занимаемся background: #E5E5E5; */
    /* наша команда background: #F5F4FA; */