 
/* Цвет основы и основной цвет страницы */
.body {
    background-color: #FFFFFF;
  }
/* Полезное правило для удаления атрибутов в списке */
.list {
    list-style: none;
}
/* Цвет текста логотипа в хедере */
.black {
    color: #000000;
}
.logo-blue {
    color: #2196F3;
}
/* Цвета ссылок */
.blue {
    color: #2196F3;
}
.grey {
    background-color:#F5F4FA;
    color: #212121;
}
.grey-img {
    color: c#212121;
}
.grey-header {
    color: #212121;
}
.blue:hover {
    color: red;
}
.semi {
    color: #757575;
}
.grey:hover {
    color: red;
}
/* Фокус не работатет */
.blue:focus {
    color: green;
}
.blue-white {
    background-color: #2196F3;
    color: #FFFFFF;
}
.blue-white:hover {
    color: red;
}
.grey-header:hover {
    color: red;
}
.semi-grey:hover {
    color: red;
}
.semi-grey {
    color: #757575;
}
/* Цвет текста логотипа в футере */
.white {
    color: #ffffff;
}
.white:hover,
.white:focus {
    color: red;
}

.white-text {
    color: #ffffff
}

/* Ховер и фокус мэйла и телефона */
.semi-white:hover {
    color: red
}

/* фокус мэйла и телефона НЕ РАБОТАЕТ */

/* Цвет адреса в футере */
.address {
    background-color: #2F303A;
}

.logo-white {
    color: #FFFFFF;
}

.white {
    color: #FFFFFF;
}

/* Уточнить цвет 60%, НЕ РАБОТАЕТ */
.semi-white {
    color: rgba(f, f, f, 0.6);
}

/* Цвет контакта в футере */
.semi-white:hover {
    color: red;
}