.body {
    background-color: #FFFFFF;
    color: #212121;
}

.list {
    list-style: none;
}

/* Цвет текста логотипа */
.logo {
    color: #000000;
}

.logo-blue {
    color: #2196F3;
}
/* Цвет белый "ВСЕ" */
.link-white {
    background-color: #2196F3;
    color:#FFFFFF;
}
.logo-white {
    color: #FFFFFF;
}
.white {
    color: #FFFFFF;
}
/* Уточнить цвет 60% */
.semi-white {
    color: #FFFFFF;
}
/* Цвет адреса в футере */
.address {
    background-color: #2F303A;
}
.link-black {
    background-color: #F5F4FA;
    color: 757575; }


/* Ховер и фокус мэйла и телефона */
.link-blue:hover,
.long .link-blue:focus {
    color: red
}



.link-blue:focus {
    color: green;
}

.long .link-black:hover,
.long .link-black:focus { 
    color: red;
}

.link-black {
    color: #212121
}

.link-blue {
    color: #2196F3;
}

.link-blue {
    color: #2196F3;
}

.link-grey {
    color: #757575
}

.short .link-blue:hover,
.short .link-blue:focus {
    color: red;
}

.short .link-grey:hover,
.short .link-grey:focus {
    color: red;
}
.text {
    color: #FFFFFF;
}
.section-effect {
    background-color: #2F303A;
}
/* Цвет адреса в футере */
.address {
    color: 2F303A
}
.long {
    background-color: 2F303A;
}
.long .address:hover,
.long .address:focus {
    color: red;
}

/* Цвет контакта в футере */

.mail {
    color: rgba(0, 0, 0, 0.6)
}

.mail:hover {
    color: red;
}
.footer {
    background-color: 2F303A;
}
